*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 93.75%; // 1rem = 10px, 15px/16px (default font-size) = 66.6%
}

:root {
  // Colors
  --color-primary: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsla(216, 12%, 54%, 0.15);
  --color-dark-blue: hsla(214, 29%, 17%, 0.815);
  --color-very-dark-blue: hsl(216, 12%, 8%);

  // Fonts
  --font-primary: "Overpass", sans-serif;
  --font-size: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  font-family: var(--font-primary);
  font-size: var(--font-size);
}

section {
  &.main {
    background-color: var(--color-dark-blue);
    margin: auto;

    h1 {
      color: var(--color-white);
    }
  }
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
  a {
    color: #3e52a3;
  }
}
