html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 93.75%;
}

:root {
  --color-primary: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsla(216, 12%, 54%, 0.15);
  --color-dark-blue: hsla(214, 29%, 17%, 0.815);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --font-primary: "Overpass", sans-serif;
  --font-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  font-family: var(--font-primary);
  font-size: var(--font-size);
}

section.main, section.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-dark-blue);
  width: 45%;
  margin: auto;
  border-radius: 1.5rem;
  padding: 2rem;
}

section.main.card__front__img, section.back.card__front__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: var(--color-medium-grey);
  border-radius: 50%;
  padding: 1rem;
  width: 1.2rem;
  margin-bottom: 2.3rem;
}

section.main img#back-image, section.back img#back-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 3rem;
}

section.main h1, section.back h1 {
  color: var(--color-white);
}

section.main p, section.back p {
  line-height: 1.5;
}

section.main button, section.back button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

section.main .card__front__rating, section.back .card__front__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.main .card__front__rating #rating__01,
section.main .card__front__rating #rating__02,
section.main .card__front__rating #rating__03,
section.main .card__front__rating #rating__04,
section.main .card__front__rating #rating__05, section.back .card__front__rating #rating__01,
section.back .card__front__rating #rating__02,
section.back .card__front__rating #rating__03,
section.back .card__front__rating #rating__04,
section.back .card__front__rating #rating__05 {
  display: inline-block;
  text-align: center;
  background-color: var(--color-medium-grey);
  border-radius: 50%;
  padding: 1rem;
  width: 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */